		<footer>
			<div class="featured-links">
				<span>BCU Labs is a volunteer-led project of <a href="https://BostonCyclistsUnion.org" target="_blank">Boston Cyclists Union</a>.</span>
				<a href="https://docs.google.com/forms/d/e/1FAIpQLSefzxEQ-CAbJd_rrt90DHvdglYvP9RLqdDUVsFq28onw9xXJQ/viewform" target="_blank">Join BCU Labs here</a>
				<a class="link-button" href="https://secure.everyaction.com/mfRgF-hjuEueYqUtvn9Jeg2" target="_blank"><big>Donate</big></a>
			</div>
		</footer>
	</body>
</html>
